{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in result %}
        <div class="col-md-3">
            <div class="card" style="width:250px; height:100%;">
            <img class="card-img-top" src="{{i.img.url}}" width="150" height="200" alt="Card image cap">
                <br>
            <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
<!--            <p class="card-text">{{i.desc}}</p>-->
            <a href="{% url 'cinemaapp:detail' i.id %}" class="btn btn-warning">View Details</a>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--{{i.desc}}-->
<!--<br>-->
<!--{{i.year}}-->
<br>
{% endblock %}

